/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.btn_copy {
	-fx-background-image: url('http://www.iconarchive.com/show/ios7-icons-by-icons8/Editing-Cut-Filled-icon.html');
}
.btn_cut {
	
}
.btn_paste {
	
}