/* Estilo de botones - Se encarga de establecer un icono o un formato concreto a los botones especificados*/
.btn_refresh{
	-fx-graphic: url('./ClientFTPMail/resources/images/buttons/btn_refresh.png');
}
.btn_goback{
	-fx-graphic: url('./ClientFTPMail/resources/images/buttons/btn_goback.png');
}
.btn_goforwards{
	-fx-graphic: url('./ClientFTPMail/resources/images/buttons/btn_goforward.png');
}
.btn_recyble_bin{
	-fx-graphic: url('http://icons.iconarchive.com/icons/pixelmixer/basic/16/trash-icon.png');
}
